@font-face {
  font-family: heading;
  src: url("/static/fonts/GT-Super-Display-Bold.otf");
}

@font-face {
  font-family: bold;
  src: url("/static/fonts/Sohne-Bold.otf");
}

@font-face {
  font-family: medium;
  src: url("/static/fonts/Sohne-Medium.otf");
}

@font-face {
  font-family: light;
  src: url("/static/fonts/Sohne-Light.otf");
}

@font-face {
  font-family: ultralight;
  src: url("/static/fonts/Sohne-UltraLight.otf");
}

.f-head {
  font-family: heading;
}

.f-bold {
  font-family: bold;
}

.f-medium {
  font-family: medium;
}

.f-light {
  font-family: light;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.my-btn, .my-btn2 {
  font-size: 1rem;
  font-family: medium;
  background: black;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 2px solid black;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.my-btn:hover, .my-btn2:hover {
  background: none;
  color: black;
}

.my-btn2 {
  font-size: 1.3rem;
}

.my-btn2:hover {
  color: white;
  border-color: white;
}

header {
  z-index: 10000000;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  padding: 0 10px;
}

header #header-logo {
  padding: 6px;
}

header #header-logo a {
  text-decoration: none;
}

header #header-logo a img {
  width: 135px;
}

header #header-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-links li {
  margin: 0 10px;
  list-style: none;
  font-size: 1.35rem;
  font-family: medium;
}

header #header-links li .links {
  padding: 2px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0;
  -webkit-transition: all 0.26s ease-in-out;
  transition: all 0.26s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

header #header-links li .links:hover {
  letter-spacing: 0.06rem;
}

header #header-links li #header-login {
  margin-left: 25px;
  background: white;
  color: black;
  border-radius: 15px;
  padding: 8px 24px;
  text-transform: uppercase;
  border: 2px solid white;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

header #header-links li #header-login:hover {
  background: none;
  color: white;
}

.section {
  min-height: 100vh;
  padding-top: 150px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#trending-blogs {
  border-bottom: 2px solid #e6e6e6;
}

#trending-blogs #heading .fa-superpowers {
  position: relative;
  top: 0;
  left: 0;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#trending-blogs .trending-blogs {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

#trending-blogs .trending-blogs .number {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #dedddd;
}

#trending-blogs .trending-blogs:hover {
  border: 1px solid #dedddd;
}

#trending-blogs .trending-blogs:hover .number {
  color: #ccc6c6;
}

#all-blogs #tag-fixed-box {
  position: -webkit-sticky;
  position: sticky;
  top: 115px;
  right: 0;
}

#all-blogs #tag-fixed-box .tags {
  margin: 12px;
}

#all-blogs #tag-fixed-box .tags a {
  border-radius: 3.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 80px;
  text-align: center;
  padding: 6px 9px;
  border: 1px solid #dedddd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#all-blogs #tag-fixed-box .tags a:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#blog-category-container {
  /* Make the image to responsive */
  /* The overlay effect - lays on top of the container and over the image */
}

#blog-category-container .blog-category {
  position: relative;
  width: 100%;
  border-radius: 15px;
}

#blog-category-container .blog-image {
  overflow: hidden;
}

#blog-category-container .blog-image .image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#blog-category-container .title {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  padding: 12px;
  text-align: center;
  font-family: bold;
  font-size: 1.2rem;
}

.img-div {
  overflow: hidden !important;
}

.img-div .image {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.img-div:hover .image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */