{% extends './blocks/base.html' %}
{% block title %}Medium-Our Story{% endblock title %}
{% block body %}


<section class="section">
    <div class="flex justify-center item-start p-12">
        <div class="text-center">
                <img src="/static/images/about/atanu.jpg" class="rounded-full w-32 mb-4 mx-auto" alt="Avatar"/>
            <h5 class="text-xl font-medium leading-tight mb-2 f-medium">Atanu Roy</h5>
            <p class="text-gray-500">Full Stack Web Developer</p>
          </div>
        <div class="w-2/3 ml-8">
            <p class="f-light font-black my-3">
               Hi, I am Atanu from India and I am a fullstack web developer. I develope websites in django and PHP.
            </p>
            <p class="f-light font-black">
               Welcome to medium. This a bloging website which is made and maintained by me. Actually I made this website for the purpose of practice and increseing my django skills. I made this website on django which is an awsome framework for developing websites. The contents in this website is taken from various websites and they don't belong to me (I just copy and paste them).
            </p>
        </div>
    </div>
</section>


{% endblock body %}